.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

.portfolio__item {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  background-color: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portfolio__item:hover {
  border-color: var(--color-primary-varient);
  background: transparent;
}

.portfolio__item-image {
  border-radius: 1rem;
  overflow: hidden;
}

.portfolio__item h3 {
  margin: 3rem 1rem 1rem 2rem;
}

.portfolio__item-cta {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
  margin-top: auto;
}

/* Media Queries (Medium Devices) */

@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2 rem;
  }
}

/* Media Queries (Small Devices) */

@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}
