header {
  height: 100vh;
  padding-top: 7rem;
  justify-items: center;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

/* CTS Style */

.cta {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* Socials style*/

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}
.header__socials a {
  transition: var(--transition);
}
.header__socials a:hover {
  transform: scale(1.2);
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* ME style */
.me {
  background: transparent;
  width: 18rem;
  max-height: calc(100vh - 6rem);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1rem;
  overflow: hidden;
  padding: 1rem;
  border: 2px solid transparent;
  object-fit: cover;
}

/* Scroll Down style */

.scroll__down {
  position: absolute;
  right: -4rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */

@media screen and (max-width: 1024px) {
  header {
    min-height: 65vh;
    overflow: hidden;
  }
  me {
    width: 50%;
    height: 100vh;
    margin: 2rem auto 2rem;
  }
}

/* MEDIA QUERIES (SMALL DEVICES) */

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }
}
