header {
  height: 100vh;
  padding-top: 7rem;
  justify-items: center;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

/* CTS Style */

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

/* Socials style*/

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 1rem;
  bottom: 3rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* ME style */

/* ME style */
/* ME style */
.me {
  background: linear-gradient(var(--color-primary-variant), transparent);
  width: 20rem;
  max-height: calc(100vh - 10rem); /* Adjusted height */
  position: absolute;
  left: 50%; /* Position at 50% of container width */
  transform: translateX(-50%); /* Translate back by half of its own width */
  margin-top: 2.5rem;
  border-radius: 12rem;
  overflow: hidden;
  padding: 1.5rem;
}

/* Scroll Down style */

.scroll__down {
  position: absolute;
  right: -4rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */

@media screen and (max-width: 1024px) {
  header {
    height: 120vh;
  }
}

/* MEDIA QUERIES (SMALL DEVICES) */

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .header__socials,
  .scroll__down {
    display: none;
  }
}
